*~
*#
src_managed
project/plugins/project
project/boot/*
*/project/build/target
*/project/boot
lib_managed
target
.#*
_dump
tm*.log
tm*.lck
*.iws
*.ipr
*.iml
.project
.settings
.classpath
.idea
.scala_dependencies
multiverse.log
.eprj
